@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
body {
  font-family: "Russo One", sans-serif;
  background-color: grey;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  border: 0;
  outline: 0;
  cursor: pointer;
}
input {
  border: 0;
  outline: 0;
}
.todoContainer {
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 10px;
}
